
header {
    display: flex; 
    margin-left: 6rem;
}
main {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 6rem;
    max-width: 20rem;
    height: 100%;
    flex-grow: 1;
}

div {
    margin-top: 1rem;
}
input {
    align-self: flex-end;
    margin-left: 2px; 
}
.submit {
    width: 4rem; 
    margin-top: 2rem;
    background-color: lightcoral;
    border: 2px solid black; 
    border-radius: 4px;
    padding: 4px;
}