ul{
    margin-left: 6rem;
    margin-right: 6rem;
    list-style-type: none;
    padding: 0; 
}

li {
    background-color: lightgrey;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 4px; 
    text-align: left;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.activity-list {
    margin:0;
}

li button {
    margin: 0; 
    background-color: transparent;
    border: 0;
    transform: rotate(45deg); 
    font-size: large;
}
li button:hover {
    color: lightcoral;
    transform: rotate(90deg);
}